# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Flutter/Dart build
jukebox/build/
jukebox/.dart_tool/
jukebox/.packages

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
